@using Mario_Vukovic_Seminar.Services.Interface
@model Mario_Vukovic_Seminar.Models.Binding.ApplicationUserUpdateBinding
@inject IUserService UserService
@{
}

<h1>Update user</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="User" asp-action="UpdateUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">New password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(x=>x.Dob)
                @Html.TextBoxFor(x=>  x.Dob , new {@class = "form-control" })
            </div>
            <div class="form-group">
                
                @Html.LabelFor(x=>x.EmailConfirmed)
                @Html.CheckBoxFor(x=>  x.EmailConfirmed)
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="User" , asp-action="UserManagement">Back to user list</a>
</div>