@model List<Mario_Vukovic_Seminar.Models.ViewModel.ProductViewModel>

<div class="container-fluid">
    <div class="row">
        @foreach (var product in Model.OrderBy(x => Guid.NewGuid()).Take(9))
        {
            <div class="col-md-4 mt-4">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="@product.ProductImgUrl" alt="This is where I would put my photo, if I had one" width="320" height="200">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text"> @product.Description</p>
                        <a href="@Url.Action("Details", "Home",new {id = product.Id})" class="btn btn-success">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>