
<a class="btn btn-primary" href="@Url.Action("UserManagement", "User")">User managament</a>

<a class="btn btn-primary" href="@Url.Action("ProductManagement", "Admin")">Products managament</a>

<a class="btn btn-primary" href="@Url.Action("ProductCategoryManagament", "Admin")">Product category managament</a>
