
<div class="d-grid gap-2 col-6 mx-auto">
<a class="btn btn-primary btn-lg" href="@Url.Action("UserManagement", "User")">User managament</a>

<a class="btn btn-primary btn-lg" href="@Url.Action("ProductManagement", "Admin")">Products managament</a>

<a class="btn btn-primary btn-lg" href="@Url.Action("ProductCategoryManagament", "Admin")">Product category managament</a>
</div>